.animate-body-opacity-scale-in {
  animation: body-opacity-scale-in 1.5s ease;
}

@keyframes body-opacity-scale-in {
  0% {
    transform: scale(0.001);
    opacity: 0%;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
  }
}

@media (min-width: 601px) {
  .animate-body-opacity-scale-in {
    animation: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate-body-opacity-scale-in {
    animation: none;
  }
}
