.gamemode-card {
    color: white;
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
    transition: width 0.1s ease-in-out; /* Added transition property */
}

.gamemode-card:hover {
    width: 330px;
}
  
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
  
.gamemode-card.glow::after, .gamemode-card.glow::before {
    content: '';
    position: absolute;
    height: calc(100% + 6px);
    width: calc(100% + 6px);
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    border-radius: 13px;
    animation: 3s spin linear infinite;
}

.gamemode-card.glow::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}