.magnifier {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  display: none;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: 500%;
  z-index: 1000;
}

.hide-cursor {
  cursor: none;
}
